@page "/";
@using System.Reflection;
@using Microsoft.Maui.Graphics.Platform;
@using System.Text;

<h1>Proyecto de prueba IMPRESION SUNMI</h1>

<div>
    <p>Para imprimir, clickea el botón</p>
    <button @onclick="ImprimirTexto">Clickea acá para imprimir un texto</button>
</div>

<div>
    <button @onclick="ImprimirImagen">Clickea acá para imprimir una imagen</button>
</div>

@code{

    [Inject]
    public Printer _printer { get; set; }

    public void ImprimirTexto()
    {
        try
        {
            _printer.PrintText("Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis, enim eget commodo dignissim, velit tortor condimentum justo, ac fermentum lectus sem non nisi. Vestibulum sed urna volutpat, ultrices massa in, aliquam metus. Maecenas ut enim at neque commodo dignissim. Sed eget vestibulum ex, id pharetra dolor. Suspendisse id dictum ex, at consequat neque. Nullam in velit vel sem aliquam gravida.");
        }
        catch (Exception ex)
        {
            throw;
        }
    }

    public void ImprimirImagen()
    {
        try
        {
            //Microsoft.Maui.Graphics.IImage image;

            //Assembly assembly = GetType().GetTypeInfo().Assembly;
            //using (Stream stream = assembly.GetManifestResourceStream("PruebaMauiJavaBinding.Resources.Images.logo.jpg"))
            //{
            //    image = PlatformImage.FromStream(stream);
            //}

            //byte[] imgEnBytes = Encoding.UTF8.GetBytes(image.AsBase64());
            //_printer.PrintImage(imgEnBytes);

            byte[] imgEnBytes;
            Assembly assembly = GetType().GetTypeInfo().Assembly;
            string resourceName = "PruebaMauiJavaBinding.Resources.Images.logo.jpg";

            using (Stream stream = assembly.GetManifestResourceStream(resourceName))
            {
                using (MemoryStream memoryStream = new MemoryStream())
                {
                    stream.CopyTo(memoryStream);
                    imgEnBytes = memoryStream.ToArray();
                }
            }

            _printer.PrintImage(imgEnBytes);

        }
        catch (Exception ex)
        {
            throw;
        }
    }
    

}